.profileContainer {
    display: flex;
  }
   
.profile{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding: 20px;
    margin-left: 70px;
    margin-top: 40px;
    border-style: solid;
    border-color: #4E91F4;
    border-radius: 18px;
    height: 350px;
    width: 400px;
}

.profileText{
    display: flex;
    font-size: 30px;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
}