ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    width: 25%;
    background-color: #4A8EF3;
    position: fixed;
    height: 100%;
    overflow: auto;
    
    font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: blue;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
  .jumbotron {
      position: relative;
  }
  .btnDiv {
    width: 100%;
    left: 0;
    bottom: 10px;
    position: absolute;
  }
  
  
  