ul{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 75.2%;

background: rgba(74, 142, 243, 0.98);
}

.logo{
    position: absolute;
left: 36.67%;
right: 36.6%;
top: 3.81%;
bottom: 78.91%;

}

login{
    
/* Login */


position: absolute;
left: 42.5%;
right: 42.5%;
top: 33.2%;
bottom: 57.62%;

font-family: 'Fira Code';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 94px;

color: #000000;

}
b3{
  position: absolute;
left: 34.72%;
right: 60.28%;
top: 51.95%;
bottom: 45.02%;

font-family: 'Fira Code';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;

color: #000000;
}

b4{
    position: absolute;
left: 31.67%;
right: 60.28%;
top: 58.3%;
bottom: 38.67%;

font-family: 'Fira Code';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;

color: #000000;
}

b42{
    /* Password */


position: absolute;
left: 31.04%;
right: 60.9%;
top: 58.2%;
bottom: 38.87%;

font-family: 'Fira Code';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;

color: #000000;
}
b5{


position: absolute;
left: 23.06%;
right: 60.9%;
top: 64.36%;
bottom: 32.62%;

font-family: 'Fira Code';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;

color: #000000;
}

account{
    
position: absolute;
left: 34.51%;
right: 35.49%;
top: 70.61%;
bottom: 26.37%;

font-family: 'Fira Code';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;

color: #000000;

}

bsubmit{
    /* Rectangle 7 */


position: absolute;
left: 41.32%;
right: 41.32%;
top: 52.05%;
bottom: 45.02%;

background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 50px;
}

psubmit{
    position: absolute;
left: 41.32%;
right: 41.32%;
top: 58.3%;
bottom: 38.77%;

background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 50px;
}

